<h1>Log in</h1>

<%= form_with model: @user, url: login_path, method: :post do | f | %>


<%= f.label :email %> <br><br>
<%= f.text_field :email %> <br><br>
<%= f.label :password %> <br><br>
<%= f.password_field :password %> <br><br>

<%= f.submit %>
<% end %>