<h1>This is my new form </h1>

<% if flash[:errors] %>
<% flash[:errors].each do | error |  %>
<li style="color:red"> <%= error %> </li>
<% end %>
<% end %>

<%= form_with model: @user do | f | %>


<%= f.label :name %> <br><br>
<%= f.text_field :name %> <br><br>
<%= f.label :email %> <br><br>
<%= f.text_field :email %> <br><br>
<%= f.label :password %> <br><br>
<%= f.password_field :password %> <br><br>
<%= f.label :password_confirmation %> <br><br>
<%= f.password_field :password_confirmation %> <br><br>

<%= f.submit %>
<% end %>